#loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(128, 128, 128, 0.5); /* Transparent grey background */
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-border {
    width: 6rem;
    height: 6rem;
    border-width: 10px;
}

.uppercase {
    text-transform: uppercase;
}

.highlight {
    background-color: rgba(255, 255, 150, 0.75);
}


/*GENERATE RO*/

.header {
    text-align: center;
    margin-bottom: 20px;
}
.table th, .table td {
    vertical-align: middle;
    text-align: center;
}
.notes {
    margin-top: 20px;
    font-size: 0.9rem;
}
.rectangle-container {
    width: 100%;
    max-width: 500px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    border: 2px solid #000; /* Add a border for visibility */
    background-color: #f8f9fa; /* Light background color */
    padding: 20px; /* Inner padding */
    margin: 20px auto; /* Center the container */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); /* Optional shadow */
}
@media print {
    .no-print {
        display: none; /* Hides elements with the no-print class when printing */
    }
}


