<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NC RO Gen Service</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Add Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- SweetAlert2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/common.css">

    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">

    <!-- jQuery (required by DataTables) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">



</head>

<body>
<!-- Header Section -->
<header class="text-white py-3 px-5 " style="background-color: rgb(50,52,71)">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <img src="/images/gc.png" alt="Left Logo" class="img-fluid rounded" style="max-height: 100px; width: 100px">
        <h1 class="text-center text-white custom-heading py-4" style="color: transparent;
           font-family: 'Roboto', sans-serif;">NC RO GENERATION SERVICE</h1>
        <img src="/images/nc.png" alt="Right Logo" class="img-fluid"  style="max-height: 100px; width: 100px">
    </div>
</header>

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg mt-2 pt-5 pb-5" style="background-color: rgb(50,52,71)">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-tabs" role="tablist">
                <li class="nav-item fs-5">
                    <a
                            class="nav-link active"
                            style=" font-weight: inherit;"
                            data-bs-toggle="tab"
                            href="#uploadRates"
                            role="tab">
                        Upload New Master Rates
                    </a>
                </li>

                <li class="nav-item fs-5">
                    <a
                            class="nav-link"
                            style="color: white; font-weight: inherit;"
                            data-bs-toggle="tab"
                            href="#viewRates"
                            role="tab">
                        View Master
                    </a>
                </li>

                <li class="nav-item fs-5">
                    <a
                            class="nav-link"
                            style="color: white; font-weight: inherit;"
                            data-bs-toggle="tab"
                            href="#createRo"
                            role="tab">
                        Create RO
                    </a>
                </li>

                <li class="nav-item fs-5">
                    <a
                            class="nav-link"
                            style="color: white; font-weight: inherit;"
                            data-bs-toggle="tab"
                            href="#previewRo"
                            role="tab">
                        Preview RO
                    </a>
                </li>

                <li class="nav-item fs-5">
                    <a
                            class="nav-link"
                            style="color: white; font-weight: inherit;"
                            data-bs-toggle="tab"
                            href="#addClient"
                            role="tab">
                        Add Client
                    </a>
                </li>

                <li class="nav-item fs-5">
                    <a
                            class="nav-link"
                            style="color: white; font-weight: inherit;"
                            data-bs-toggle="tab"
                            href="#generateRO"
                            role="tab">
                        Generate RO For Release
                    </a>
                </li>

                <li class="nav-item fs-5">
                    <a
                            class="nav-link"
                            style="color: white; font-weight: inherit;"
                            data-bs-toggle="tab"
                            href="#services"
                            role="tab">
                        Services
                    </a>
                </li>

                <li class="nav-item fs-5">
                    <a
                            class="nav-link"
                            style="color: white; font-weight: inherit;"
                            data-bs-toggle="tab"
                            href="#contact"
                            role="tab">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Tab Content -->
<div class=" mt-2">
    <div class="tab-content">

        <!-- Upload New Master Rates Tab (Completed Not To Be Changes Done AnyMore)-->
        <div
                class="text-white px-5"
                id="uploadRates"
                role="tabpanel"
                style="background-color: rgb(50,52,71); font-family: 'Poppins', sans-serif; font-size: 1.1rem; padding: 150px 0";>

            <!-- Heading Section -->
            <h2
                    class="text-center"
                    style="color: white;
           font-family: 'Roboto', sans-serif;">
                Upload New Master Rates
            </h2>

            <p
                    class="text-white fs-5 text-center"
                    style="font-family: 'Lato', sans-serif;">
                Easily upload and manage new master rates for your service with a streamlined process.
            </p>

            <!-- Form Section -->
            <form id="fileUploadForm" class="mb-4 text-center">
                <div class="mb-3 mx-auto" style="max-width: 350px;">
                    <label
                            for="fileInput"
                            class="form-label"
                            style="color: rgb(255,255,0); font-weight: inherit; font-size: 1.1rem;">
                        Upload File (.csv, .xls, .xlsx):
                    </label>
                    <input
                            type="file"
                            id="fileInput"
                            class="form-control"
                            accept=".csv, .xls, .xlsx"
                            required>
                </div>
                <button
                        type="submit"
                        class="btn btn-primary px-4 py-2"
                        style="font-size: 1rem; font-weight: bold; background: linear-gradient(90deg, rgb(0, 123, 255), rgb(102, 16, 242)); border: none;">
                    Upload and Display
                </button>
            </form>


        </div>


        <!-- View Master Content -->
        <div class="tab-pane fade mt-2 " id="viewRates" role="tabpanel" style="background-color: rgb(50,52,71); " >
            <div class="container-fluid " style="padding: 0px 50px" >
                <h2 class="text-start text-white " style=" font-weight: inherit; padding: 20px 0px"
                >View Master</h2>
                <!-- Table (Initially hidden) -->
                <div class="card" >
                    <div class="card-header">
                        Master Details
                    </div>
                    <div class="card-body">
                        <div id="tableContainer" style="overflow-x: auto;">
                            <div class="table-responsive shadow-sm rounded">
                                <table  class="table table-hover table-sm align-middle " style="width: 100%;" >
                                    <thead class="text-uppercase text-secondary bg-light">
                                    <tr>
                                        <th class="px-3 py-2">News Paper Code</th>
                                        <th class="px-3 py-2">News Paper Name</th>
                                        <th class="px-3 py-2">Last Renewed Date</th>
                                        <th class="px-3 py-2">State</th>
                                        <th class="px-3 py-2">Place Of Publication</th>
                                        <th class="px-3 py-2">Language</th>
                                        <th class="px-3 py-2">Periodicity</th>
                                        <th class="px-3 py-2">Category</th>
                                        <th class="px-3 py-2">Regularity Status</th>
                                        <th class="px-3 py-2">Circulation Base</th>
                                        <th class="px-3 py-2">Circulation</th>
                                        <th class="px-3 py-2">Rate</th>
                                    </tr>
                                    </thead>
                                    <tbody id="viewTable">
                                    <tr class="bg-white border-bottom hover-shadow-sm">
                                        <td class="px-3 py-2">001</td>
                                        <td class="px-3 py-2">The Times</td>
                                        <td class="px-3 py-2">2023-12-01</td>
                                        <td class="px-3 py-2">California</td>
                                        <td class="px-3 py-2">Los Angeles</td>
                                        <td class="px-3 py-2">English</td>
                                        <td class="px-3 py-2">Daily</td>
                                        <td class="px-3 py-2">News</td>
                                        <td class="px-3 py-2">Active</td>
                                        <td class="px-3 py-2">100,000</td>
                                        <td class="px-3 py-2">90,000</td>
                                        <td class="px-3 py-2">$500</td>
                                    </tr>
                                    <tr class="bg-white border-bottom hover-shadow-sm">
                                        <td class="px-3 py-2">002</td>
                                        <td class="px-3 py-2">Daily Herald</td>
                                        <td class="px-3 py-2">2023-11-20</td>
                                        <td class="px-3 py-2">New York</td>
                                        <td class="px-3 py-2">New York City</td>
                                        <td class="px-3 py-2">English</td>
                                        <td class="px-3 py-2">Weekly</td>
                                        <td class="px-3 py-2">Business</td>
                                        <td class="px-3 py-2">Inactive</td>
                                        <td class="px-3 py-2">50,000</td>
                                        <td class="px-3 py-2">45,000</td>
                                        <td class="px-3 py-2">$300</td>
                                    </tr>

                                    <tr class="bg-white border-bottom hover-shadow-sm">
                                        <td class="px-3 py-2">003</td>
                                        <td class="px-3 py-2">The Guardian</td>
                                        <td class="px-3 py-2">2024-01-15</td>
                                        <td class="px-3 py-2">Texas</td>
                                        <td class="px-3 py-2">Houston</td>
                                        <td class="px-3 py-2">English</td>
                                        <td class="px-3 py-2">Monthly</td>
                                        <td class="px-3 py-2">Politics</td>
                                        <td class="px-3 py-2">Active</td>
                                        <td class="px-3 py-2">200,000</td>
                                        <td class="px-3 py-2">190,000</td>
                                        <td class="px-3 py-2">$800</td>
                                    </tr>
                                    <tr class="bg-white border-bottom hover-shadow-sm">
                                        <td class="px-3 py-2">004</td>
                                        <td class="px-3 py-2">Le Monde</td>
                                        <td class="px-3 py-2">2024-02-10</td>
                                        <td class="px-3 py-2">France</td>
                                        <td class="px-3 py-2">Paris</td>
                                        <td class="px-3 py-2">French</td>
                                        <td class="px-3 py-2">Daily</td>
                                        <td class="px-3 py-2">News</td>
                                        <td class="px-3 py-2">Active</td>
                                        <td class="px-3 py-2">500,000</td>
                                        <td class="px-3 py-2">480,000</td>
                                        <td class="px-3 py-2">$1200</td>
                                    </tr>
                                    <tr class="bg-white border-bottom hover-shadow-sm">
                                        <td class="px-3 py-2">005</td>
                                        <td class="px-3 py-2">El Pais</td>
                                        <td class="px-3 py-2">2023-10-05</td>
                                        <td class="px-3 py-2">Spain</td>
                                        <td class="px-3 py-2">Madrid</td>
                                        <td class="px-3 py-2">Spanish</td>
                                        <td class="px-3 py-2">Daily</td>
                                        <td class="px-3 py-2">Economy</td>
                                        <td class="px-3 py-2">Active</td>
                                        <td class="px-3 py-2">300,000</td>
                                        <td class="px-3 py-2">290,000</td>
                                        <td class="px-3 py-2">$700</td>
                                    </tr>
                                    <tr class="bg-white border-bottom hover-shadow-sm">
                                        <td class="px-3 py-2">006</td>
                                        <td class="px-3 py-2">The Hindu</td>
                                        <td class="px-3 py-2">2024-03-01</td>
                                        <td class="px-3 py-2">India</td>
                                        <td class="px-3 py-2">Chennai</td>
                                        <td class="px-3 py-2">English</td>
                                        <td class="px-3 py-2">Daily</td>
                                        <td class="px-3 py-2">News</td>
                                        <td class="px-3 py-2">Active</td>
                                        <td class="px-3 py-2">1,000,000</td>
                                        <td class="px-3 py-2">950,000</td>
                                        <td class="px-3 py-2">$1500</td>
                                    </tr>
                                    <tr class="bg-white border-bottom hover-shadow-sm">
                                        <td class="px-3 py-2">007</td>
                                        <td class="px-3 py-2">China Daily</td>
                                        <td class="px-3 py-2">2023-08-15</td>
                                        <td class="px-3 py-2">China</td>
                                        <td class="px-3 py-2">Beijing</td>
                                        <td class="px-3 py-2">Chinese</td>
                                        <td class="px-3 py-2">Weekly</td>
                                        <td class="px-3 py-2">News</td>
                                        <td class="px-3 py-2">Inactive</td>
                                        <td class="px-3 py-2">800,000</td>
                                        <td class="px-3 py-2">750,000</td>
                                        <td class="px-3 py-2">$1300</td>
                                    </tr>
                                    <tr class="bg-white border-bottom hover-shadow-sm">
                                        <td class="px-3 py-2">008</td>
                                        <td class="px-3 py-2">Sydney Morning Herald</td>
                                        <td class="px-3 py-2">2024-04-10</td>
                                        <td class="px-3 py-2">Australia</td>
                                        <td class="px-3 py-2">Sydney</td>
                                        <td class="px-3 py-2">English</td>
                                        <td class="px-3 py-2">Daily</td>
                                        <td class="px-3 py-2">Sports</td>
                                        <td class="px-3 py-2">Active</td>
                                        <td class="px-3 py-2">700,000</td>
                                        <td class="px-3 py-2">680,000</td>
                                        <td class="px-3 py-2">$1000</td>
                                    </tr>
                                    <tr class="bg-white border-bottom hover-shadow-sm">
                                        <td class="px-3 py-2">009</td>
                                        <td class="px-3 py-2">Asahi Shimbun</td>
                                        <td class="px-3 py-2">2023-07-20</td>
                                        <td class="px-3 py-2">Japan</td>
                                        <td class="px-3 py-2">Tokyo</td>
                                        <td class="px-3 py-2">Japanese</td>
                                        <td class="px-3 py-2">Daily</td>
                                        <td class="px-3 py-2">Technology</td>
                                        <td class="px-3 py-2">Active</td>
                                        <td class="px-3 py-2">900,000</td>
                                        <td class="px-3 py-2">870,000</td>
                                        <td class="px-3 py-2">$1100</td>
                                    </tr>
                                    <tr class="bg-white border-bottom hover-shadow-sm">
                                        <td class="px-3 py-2">010</td>
                                        <td class="px-3 py-2">Der Spiegel</td>
                                        <td class="px-3 py-2">2023-06-25</td>
                                        <td class="px-3 py-2">Germany</td>
                                        <td class="px-3 py-2">Berlin</td>
                                        <td class="px-3 py-2">German</td>
                                        <td class="px-3 py-2">Monthly</td>
                                        <td class="px-3 py-2">Politics</td>
                                        <td class="px-3 py-2">Inactive</td>
                                        <td class="px-3 py-2">600,000</td>
                                        <td class="px-3 py-2">580,000</td>
                                        <td class="px-3 py-2">$900</td>
                                    </tr>
                                    <tr class="bg-white border-bottom hover-shadow-sm">
                                        <td class="px-3 py-2">011</td>
                                        <td class="px-3 py-2">Globe and Mail</td>
                                        <td class="px-3 py-2">2023-09-30</td>
                                        <td class="px-3 py-2">Canada</td>
                                        <td class="px-3 py-2">Toronto</td>
                                        <td class="px-3 py-2">English</td>
                                        <td class="px-3 py-2">Weekly</td>
                                        <td class="px-3 py-2">Economy</td>
                                        <td class="px-3 py-2">Active</td>
                                        <td class="px-3 py-2">400,000</td>
                                        <td class="px-3 py-2">380,000</td>
                                        <td class="px-3 py-2">$600</td>
                                    </tr>
                                    <!-- Add more rows dynamically -->
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Create Ro-->
        <div class="tab-pane fade" id="createRo" role="tabpanel" style="background-color: rgb(50,52,71); margin-top: 5px; padding: 15px 35px" ;>
            <div class="container-fluid">
                <h2 class="" style="color: white">Create RO</h2>
                <div  >
                    <div class="container-fluid">
                        <form>
                            <div class="row">
                                <!-- DAV (Hidden Field) -->
                                <div class="col-md-3 mb-3" >
                                    <div class="input-group">
                                        <span class="input-group-text">Dav</span>
                                        <input type="text" class="form-control uppercase" name="dav" id="dav" placeholder="Data will Pre Filled" readonly required>
                                    </div>
                                </div>

                                <!-- Client Name -->
                                <div class="col-md-3 mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text">Client Name</span>
<!--                                        <input type="text" class="form-control uppercase" name="clientName" id="clientName" required>-->
                                        <select class="form-select" name="clientName" id="clientName" required>
                                            <option value="" selected disabled>Select Newspaper</option>
                                            <option th:each="name : ${clientList}" th:value="${name}" th:text="${name}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3 mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text">Client Special ID</span>
                                        <!--                                        <input type="text" class="form-control uppercase" name="clientName" id="clientName" required>-->
                                        <select class="form-select" name="clientID" id="clientID" required>
                                            <option value="" selected disabled>Select Newspaper</option>

                                        </select>
                                    </div>
                                </div>

                                <!-- Page Number -->
                                <div class="col-md-3 mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text">Page Number</span>
                                        <input type="text" class="form-control" name="pageNumber" id="pageNumber">
                                    </div>
                                </div>

                                <!-- Newspaper Name -->
                                <div class="col-md-3 mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text">Newspaper Name</span>
                                        <select class="form-select" name="newspaperName" id="newspaperName" required onchange="fetchStates();fetchPublicationName();fetchLanguage();fetchPeriodicity()">
                                            <option value="" selected disabled>Select Newspaper</option>
                                            <option th:each="name : ${newsPaperName}" th:value="${name}" th:text="${name}"></option>
                                        </select>
                                    </div>
                                </div>

                                <!-- State -->
                                <div class="col-md-3 mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text">State</span>
                                        <select class="form-select" required name="state" onchange="fetchPublicationName()" id="stateDropdown">
                                            <option value="" selected disabled>Select State</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Edition -->
                                <div class="col-md-3 mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text">Edition</span>
                                        <select class="form-select" required name="placeOfPublication" id="placeOfPublication" onchange="fetchLanguage()">
                                            <option value="" selected disabled>Select Edition</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Language -->
                                <div class="col-md-3 mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text">Language</span>
                                        <select class="form-select" required name="language" id="language">
                                            <option value="" selected disabled>Select Language</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- Colour -->
                                <div class="col-md-3 mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text">Colour</span>
                                        <select class="form-select" required name="color" id="color">
                                            <option value="" selected disabled>Select Color</option>
                                            <option value="B/W">B/W</option>
                                            <option value="Color">Color</option>
                                        </select>
                                    </div>
                                </div>

                                <!-- GST -->
                                <div class="col-md-3 mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text">GST Applicable</span>
                                        <select class="form-select" required name="gstType" id="gstType">
                                            <option value="" selected disabled>Select GST</option>
                                            <option value="IGST">IGST</option>
                                            <option value="CGST">CGST</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3 mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text">Select Department</span>
                                        <select class="form-select" name="depName" id="depName" required>
                                            <option value="" selected disabled>Select Department</option>
                                            <option>GOVT</option>
                                            <option>PVT</option>
                                            <option>COM</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3 mb-3" >
                                    <div class="input-group">
                                        <span class="input-group-text">Ro Number</span>
                                        <input type="text" class="form-control uppercase" name="roNumber" id="roNumber" value="NC/" placeholder="Data will Pre Filled" readonly required>
                                    </div>
                                </div>


                                    <div class="col-md-3 mb-3" id="periodicityDropDown" style="display: none ">
                                        <div class="input-group highlight">
                                            <span class="input-group-text highlight">Periodicity</span>
                                            <select class="form-select highlight" required name="periodicity" id="periodicity" onchange="fetchCategory()">
                                                <option value="" selected disabled>Select Periodicity</option>

                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-3 mb-3" id="categoryDropDown" style="display: none ">
                                        <div class="input-group highlight" >
                                            <span class="input-group-text highlight" >Category</span>
                                            <select class="form-select highlight" required name="category" id="category">
                                                <option value="" selected disabled>Select Category</option>

                                            </select>
                                        </div>
                                    </div>


                                <!-- Date -->
                                <div class="col-md-3 mb-3" >
                                    <div class="input-group">
                                        <span class="input-group-text">Date</span>
                                        <input type="date" class="form-control" id="dateInput" name="date" />
                                    </div>
                                </div>

                                <div class="col-md-3 mb-3" hidden>
                                    <div class="input-group">
                                        <span class="input-group-text">special Ro id</span>
                                        <input type="text" class="form-control uppercase" name="specialRoID" id="specialRoID"  >
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <table class="table table-sm table-responsive table-bordered" style="width: 100% !important;">
                        <thead>
                        <tr>

                            <th rowspan="2"  style="color: white; font-weight: inherit;" >Action</th>
                            <th rowspan="2" th:hidden="true" >Submission Date</th>
                            <th rowspan="2" th:hidden="true">Client Name</th>
                            <th rowspan="2" th:hidden="true">Page Number</th>
                            <th rowspan="2" th:hidden="true">Newspaper Name</th>
                            <th rowspan="2" th:hidden="true">State</th>
                            <th rowspan="2" th:hidden="true">Edition</th>
                            <th rowspan="2" th:hidden="true">DAVP Rates<br> per sq cm <br>in Rs</th>
                            <!--                            <th rowspan="2">Color</th>-->
                            <th rowspan="2" id="extraColumnHeader" style="display: none;">Colour <br>40% Extra</th>
                            <th rowspan="2" th:hidden="true">Language</th>


                            <th rowspan="2"  th:hidden="true">RO Number</th>
                            <th  style="color: white; font-weight: inherit;" rowspan="2">RO Date</th>
                            <th rowspan="2"  style="color: white; font-weight: inherit;">Date of <br>publication</th>
                            <th colspan="2"  style="color: white; font-weight: inherit;">Size</th>
                            <th rowspan="2"  style="color: white; font-weight: inherit;">Size in <br>cm2</th>
                            <th rowspan="2"  style="color: white; font-weight: inherit;">Total Amount <br>Rs</th>
                            <th rowspan="2"  style="color: white; font-weight: inherit;">Price to <br>Newspaper </th>
                            <th rowspan="2"  style="color: white; font-weight: inherit;">GST Amount</th>
                            <th rowspan="2"  style="color: white; font-weight: inherit;">New Payable</th>
                            <th rowspan="2"  style="color: white; font-weight: inherit;">Email id</th>
                            <th rowspan="2"  style="color: white; font-weight: inherit;">Phone Number</th>



                        </tr>
                        <tr>
                            <th>Length <br>cm</th>
                            <th>Breadth <br>cm</th>

                        </tr>
                        </thead>
                        <tbody id="tableBody">
                        <!-- Rows will be dynamically added here -->
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary mb-3" onclick="addRow()">Add Row</button>


                </div>
            </div>
        </div>

        <!-- Preview RO-->
        <div class="tab-pane fade" id="previewRo" role="tabpanel">
            <div class="container-fluid">
                <h2>Preview RO</h2>
                <div class="card">
                    <div class="card-header">
                        RO Details
                    </div>
                    <div class="card-body">
                        <div id="previewRoContainer" style="overflow-x: auto;">
                            <table class="table table-sm table-responsive table-bordered table-striped" id="previewRoTable" style="width: 100%;">
                                <thead>
                                <tr>
                                    <th>Action</th>
                                    <th>Submission Date</th>
                                    <th>Newspaper Name</th>
                                    <th>Client Name</th>
                                    <th>RO Date</th>
                                    <th>RO Number</th>
                                    <th>Date of Publication</th>
                                    <th>Page Number</th>
                                    <th>State</th>
                                    <th>Edition</th>
                                    <th>DAVP Rates per sq cm in Rs</th>
                                    <th>Colour 40% Extra</th>
                                    <th>Language</th>
                                    <th>Length (cm)</th>
                                    <th>Breadth (cm)</th>
                                    <th>Size in cm²</th>
                                    <th>Total Amount Rs</th>
                                    <th>Price to Newspaper</th>
                                    <th>GST Amount</th>
                                    <th>Net Payable</th>
                                    <th>Email ID</th>
                                    <th>Phone Number</th>
                                </tr>
                                </thead>
                                <tbody id="previewRoTbody">
                                <!-- Rows will be dynamically added here -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add Client-->
        <div class="tab-pane fade" id="addClient" role="tabpanel">
            <div class="container-fluid">
                <h2>Add Client</h2>
                <div>
                    <div class="container-fluid">
                        <form action="/addClient" method="POST" id="addClientForm">
                            <div class="row">
                                <!-- Client Name -->
                                <div class="col-md-3 mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text">Client Name</span>
                                        <input type="text" class="form-control uppercase" name="clientName" id="cName" required>
                                    </div>
                                </div>

                                <div class="col-md-3 mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text">Client Short Form</span>
                                        <input type="text" class="form-control uppercase" name="clientShortForm" id="cShort" required>
                                    </div>
                                </div>

                                <!-- Submit Button -->
                                <div class="col-md-3 mb-3">
                                    <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>

                        <table id="clientData" class="table table-bordered table-stripped table-responsive" style="width: 100% !important">
                            <thead>
                                <th>Client Name</th>
                                <th>Client ID</th>
                                <th>Action</th>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Generate RO For Release Tab -->
        <div class="tab-pane fade" id="generateRO" role="tabpanel">
            <h2>Generate RO For Release</h2>
            <div class="row">

                <div class="col-md-3 mb-3" >
                    <div class="input-group">
                        <span class="input-group-text">Submission Date</span>
                        <input type="date" class="form-control" id="SubmissionDate" name="SubmissionDate" />
                    </div>
                </div>

                <div class="col-md-3 mb-3" >
                    <div class="input-group">
                        <span class="input-group-text">Client Name</span>
<!--                        <input type="text" class="form-control" id="clientNameForGenerateRO" name="clientNameForGenerateRO" />-->
                        <select class="form-select" name="clientNameForGenerateRO" id="clientNameForGenerateRO">
                            <option value="" selected disabled>Select Client Name</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3 mb-3" >
                    <div class="input-group">
                        <span class="input-group-text">RO Date</span>
<!--                        <input type="text" class="form-control" id="roDateForGenrateRo" name="roDate" />-->
                        <select class="form-select" name="roDate" id="roDateForGenrateRo">
                            <!--                            dynamically append client name from js -->
                        </select>
                    </div>
                </div>

                <div class="col-md-3 mb-3" >
                    <div class="input-group">
                        <span class="input-group-text">Newspaper Name</span>
<!--                        <input type="text" class="form-control" id="newspaperNameForGenRo" name="newspaperNameForGenRo" />-->
                        <select class="form-select" name="newspaperNameForGenRo" id="newspaperNameForGenRo">
                            <option value="" selected disabled>Select Newspaper Name</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3 mb-3" >
                    <div class="input-group">
                        <span class="input-group-text">Publish Date</span>
<!--                        <input type="text" class="form-control" id="publishcationDate" name="publishcationDate" />-->
                        <select class="form-select" name="publishcationDate" id="publishcationDate">
                            <!--                            dynamically append client name from js -->
                        </select>
                    </div>
                </div>

                <div class="col-md-3 mb-3" >
                    <div class="input-group">
                        <span class="input-group-text">Ro Number</span>
                        <select   class="form-select" id="generateRoNumber" name="generateRoNumber" >


                        </select>
                    </div>
                </div>

                <!-- GST -->
                <div class="col-md-3 mb-3">
                    <div class="input-group">
                        <span class="input-group-text">GST Applicable</span>
                        <select class="form-select" required name="generateGst" id="generateGst">
                            <option value="" selected disabled>Select GST</option>
                            <option value="IGST">IGST</option>
                            <option value="CGST">CGST</option>
                        </select>
                    </div>
                </div>
            </div>


            <button class="btn btn-primary" onclick="showRo()">Generate Ro</button>
            <button class="btn btn-primary" onclick="printPage()">Print Page</button>



            <div class="container-fluid my-4 p-3 shadow card" style="display: none" id="RoContainer">
                <!-- Header -->
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <h4>NEERAJ COMMUNICATION</h4>
                            </div>
                            <div class="col-6">
                                <p>(INS Accredited Agency)</p>
                            </div>
                        </div>
                        <p>9, Apex Chamber 19, Vidhan Sabha Marg, Lucknow-226001</p>
                        <p>Tele: 0522-4025804 | Mobile: 08318523654, 09838893800</p>
                        <p>Email: <a href="mailto:pankaj@neerajcommunication.com">pankaj@neerajcommunication.com</a></p>

                    </div>
                    <div class="col-6 d-flex justify-content-end w-50">
                        <table class="table details-table table-bordered w-50">
                            <thead>
                            <tr>
                                <th>PAN No</th>
                                <td>APJPP7180A</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>GST No</th>
                                <td>09APJPP7180A2ZQ</td>
                            </tr>
                            <tr>
                                <th>INS Code</th>
                                <td>11251</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <hr>

                <!-- Release Order Info -->
                <h2 class="text-center fw-bold text-decoration-underline">RELEASE ORDER</h2>
                <div class="col-6">
                    <div class="d-flex align-items-center justify-content-between w-50">
                        <div>
                            <h6>RO No.</h6>
                        </div>
                        <div>
                            <p id="genRoNumber"></p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between w-50">
                        <div>
                            <h6>R.O. Date</h6>
                        </div>
                        <div>
                            <p id="clientRoDate"></p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between w-50">
                        <div>
                            <h6>Publish Date</h6>
                        </div>
                        <div>
                            <p id="dateOfpublish"></p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between w-50">
                        <div>
                            <h6>Client</h6>
                        </div>
                        <div>
                            <p id="roClientName">INFORMATION DEPARTMENT UP</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between w-50">
                        <div>
                            <h6>Page Position</h6>
                        </div>
                        <div>
                            <p id="pagePosition"></p>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col">
                        <table id="generateRoTable" class="table table-bordered">
                            <thead class="table-light">
                            <tr>
                                <th>Size in C.M.</th>
                                <th>Publication</th>
                                <th>Language</th>
                                <th>Edition</th>
                                <th>DAVP Rate per Sq Cm (in Rs.)</th>
                                <th>Colour 40% Extra</th>
                                <th>Size in Sq Cm</th>
                                <th>Total Amount (in Rs.)</th>
                            </tr>
                            </thead>
                            <tbody>



                            </tbody>
                            <tbody>
                            <!-- Financial Details -->
                            <tr>
                                <td colspan="5"></td>
                                <th colspan="2" class="text-center">Amount</th>
                                <td id="finTotalAmount"> </td>
                            </tr>
                            <tr>
                                <td colspan="5"></td>
                                <th colspan="2" class="text-center">Agency Comm. 15%</th>
                                <td id="finAgencyCommission"> </td>
                            </tr>
                            <tr>
                                <td colspan="5"></td>
                                <th colspan="2" class="text-center">Taxable Amount</th>
                                <td id="finPaperPublisihAmount"> </td>
                            </tr>
                            <tr id="cgst1">
                                <td colspan="5"></td>
                                <th colspan="2" class="text-center">CGST 2.5%</th>
                                <td id="finCgst"> </td>
                            </tr>
                            <tr id="cgst2">
                                <td colspan="5"></td>
                                <th colspan="2" class="text-center" >SGST 2.5%</th>
                                <td id="finSgst"> </td>
                            </tr>

                            <tr id="Icgst">
                                <td colspan="5"></td>
                                <th colspan="2" class="text-center" >ICGST 5%</th>
                                <td id="finicgst"> </td>
                            </tr>
                            <tr>
                                <td colspan="5"></td>
                                <th colspan="2" class="text-center">Net Total (Round Off)</th>
                                <td id="finTotalPayAbleAmount"> </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>



                <!-- Notes -->
                <div class="row">
                    <div class="col-6">
                        <div class="row notes">
                            <div class="col">
                                <p><strong>Note:</strong></p>
                                <ol>
                                    <li>The newspaper advertisement should be printed on the publish date newspaper.</li>
                                    <li>The creative of the given size is attached within the email. If not, then please let us know immediately.</li>
                                    <li>The advertisement design should be printed exactly as given in the creative PDF.</li>
                                    <li>If the advertisement size, colour, or quality is not up to the mark, it will affect the payment.</li>
                                    <li>The advertisement should also be released in the Dark Edition.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <!-- Footer -->
                        <div class="row">
                            <div class="col">
                                <p><strong>For Neeraj Communication</strong></p>
                                <div class="rectangle-container">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- Services Tab -->
        <div class="tab-pane fade" id="services" role="tabpanel">
            <h2>Services</h2>
            <p>Explore the services we provide and find the one that suits your needs.</p>
        </div>

        <!-- Contact Tab -->
        <div class="tab-pane fade" id="contact" role="tabpanel">
            <h2>Contact</h2>
            <p>Get in touch with us for any inquiries or support.</p>
        </div>

    </div>
</div>

<div id="loader" style="display: none;">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>


<script>

    async function fetchRonumberForShowReport(){
        const submissionDate = document.getElementById("SubmissionDate").value.trim();
        const clientName = document.getElementById("clientNameForGenerateRO").value.trim();
        const roDateForGenrateRo = document.getElementById("roDateForGenrateRo").value.trim();
        const newspaperNameForGenRo = document.getElementById("newspaperNameForGenRo").value.trim();
        const publishName = document.getElementById("publishcationDate").value.trim();

        // API URL with dynamic parameters
        const apiUrl = `/api/getRoList/${submissionDate}/${clientName}/${roDateForGenrateRo}/${newspaperNameForGenRo}/${publishName}`;

        // Function to fetch RO data and populate dropdown
            try {
                const response = await fetch(apiUrl);
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }

                const roData = await response.json(); // Assuming the API returns a JSON response
                const dropdown = document.getElementById('generateRoNumber');

                // Clear existing options (if any)
                dropdown.innerHTML = '<option value="" disabled selected>Select Ro Number</option>';

                // Populate dropdown with RO numbers
                roData.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item ; // Assuming `id` is the unique identifier
                    option.textContent = item ; // Assuming `roNumber` is the desired display value
                    dropdown.appendChild(option);
                });
            } catch (error) {
                console.error('Error fetching RO data:', error);
            }
        }




    document.getElementById("publishcationDate").addEventListener("change",fetchRonumberForShowReport);
</script>


<!-- Bootstrap 5.3 JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<!-- Bootstrap 5.3 JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

<!-- SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Self Defined JavaScript -->
<script src="/js/common.js"></script>

<script>
    // Listen for tab changes
    document.querySelectorAll('.nav-link').forEach(tab => {
        tab.addEventListener('show.bs.tab', function (event) {
            // Reset all tabs to yellow text
            document.querySelectorAll('.nav-link').forEach(link => {
                link.style.color = 'white';
            });

            // Set the currently active tab's text to black
            event.target.style.color = 'black';
        });
    });
</script>


</body>
</html>
